<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>New Password</title>

   <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'/>
</head>
<body>
    <img class="logo2" src="../static/images/LOGO-MMSU_2.webp" alt="MMSU Logo">
    <div class="container">
        <header> Create New Password </header>

        <form action="/update_password" method="POST">

            <div class="field create-password">
                <div class="form-group">
                    <input type="hidden" id="email" name="email" value="{{ email }}" readonly>
                </div>
                <div class="input-field">
                    <input type="password" placeholder="New password" class="password" name="password" required />
                    <i class="bx bx-hide show-hide" ></i>
                </div>
            </div>

            <div class="field confirm-password">
                <div class="input-field">
                    <input type="password" placeholder="Confirm password" class="cPassword" name="cPassword" required />
                    <i class="bx bx-hide show-hide" ></i>
                </div>
                <span class="error cpassword-error">
                    <i class="bx bx-error-circle error-icon"></i>
                    <p class="error-text">Passwords don't match</p>
                    <p class="flash-message" style="display: none;">{{ get_flashed_messages(category_filter=["error"]) }}</p>
                </span>
            </div>

            <div class="input-field button">
                <input type="submit" value="Submit Now" />
                
            </div>

        </form>
    </div>
    <script src="{{ url_for('static', filename='script3.js') }}"></script>
</body>
</html>
