<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Forgot Password</title>

    <link rel="stylesheet" href="../static/style_password.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'/>
</head>
<body>
    <img class="logo2" src="../static/images/LOGO-MMSU_2.webp" alt="MMSU Logo">
    <div class="container">
        <header> Forgot Password </header>

        {% with message = get_flashed_messages(with_categories=false) %}
        {% if message %}
        <div class="error-message">
            <p>{{ message | join }}</p>
        </div>
        {% endif %}
        {% endwith %}

        <form action="/forgot_password" method="post" onsubmit="return validateForm()">
            <div class="field email-field">
                <div class="input-field">
                    <input type="email" placeholder="Enter Your Email" class="email" name="email" id="email" required />
                </div>
                <span class="error email-error">
                    <i class="bx bx-error-circle  error-icon"> </i>
                    <p class="error-text">Please enter a valid email</p>
                </span>
            </div>
            <div class="input-field button">
                <input type="submit" value="Submit Now" />
            </div>
        </form>
    </div>
    <script>
        function validateForm() {
            var email = document.getElementById('email').value;

            // Your validation logic here
            if (email.trim() === '') {
                alert('Please enter a valid email.');
                return false;
            }

            // If validation passes, the form will be submitted
            return true;
        }
    </script>
    <script src="{{ url_for('static', filename='javascripts/schedule.js') }}"></script>
</body>
</html>
